textarea{
	width: 100%;
	height: 120px;
	max-width:100%;
	max-height: 120px;
	padding: 5px;
	font-family: Tahoma, sans-serif;
} 
.wrap {
    position: relative;
}
.wrap span {
    position: absolute;
    bottom: 12px;
    right: 12px;
}