body {
		  margin: 0;
		  background-color:#e0e0e0;
		  padding: 0;
	}

#anavbar a{
		  color:black;
		  font-size:25px;
		  width:200px;
		  border:2px solid white;
	}
#border-menu{
		  background: linear-gradient(to right, #000000 25%,#ffcd02 25%, #ffcd02 50%, #e84f47 50%, #e84f47 75%, #65c1ac 75% , #a0c172 100%, #a0c172 100%);height:4px;margin:0;
		  width:100%;max_width:100%
	}
#about{
		  margin-left:25px;
		  font-family: sans-serif;
	   }
input[type=file]{
		  padding:5px 10px;
		  background:#00ad2d;
		  border:1px solid #00ad2d;
		  position:relative;
		  color:#fff;
		  border-radius:2px;
		  text-align:center;
		  cursor:pointer
	}
input[type=submit]{
		 color:yellow;
		 background-color: purple;
		 width:155px;
		 height:50px;
		 max-width:155px;
		 max-height: 50px;
		 border:2px solid white;
	}
#txt{
		width: 600px;
		height: 120px;
		max-width:600px;
		max-height: 120px;
		border: 15px solid #cccccc;
		padding: 5px;
		font-family: Tahoma, sans-serif;
}
@media only screen and (min-width:768px){
#showpost{
		width:100%;
		max-width:100%;
		padding:12px;
		border:5px solid #e0e0e0;
		background-color:white;
		border-bottom:2px solid #e0e0e0;
	}
      }
@media only screen and (max-width:767px){
#showpost{
		width:100%;
		max-width:100%;
		padding:12px;
		border:5px solid #e0e0e0;
		background-color:white;
		border-bottom:2px solid #e0e0e0;
	 }
}
@media only screen and (min-width:768px){
#showposta{
		width:100%;
		max-width:100%;
		padding:12px;
		background-color:white;
	}
      }
@media only screen and (max-width:767px){
#showposta{
		width:100%;
		max-width:100%;
		padding:12px;
		border:5px solid #e0e0e0;
		background-color:white;
		border-bottom:2px solid #e0e0e0;
	 }
    }	
#time_loc {
        margin-top:2px;
        color:#777777;
   }	
#postfooter{
		width:100%;
		max-width:100%;
		margin-left:10%; 
		border-radius:0;
}
#post_footer_icon{
		padding:12px;
		color:black;

}
#postfootera{
		width:100%;
		max-width:100%; 
		border-radius:0;
}
#post_footer_icona{
		padding:12px;
		color:black;

}
#locationField{
        position: relative;
        width: 50%;
}
#autocomplete {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
}
#locationField {
        height: 20px;
        margin-bottom: 2px;
}
#privacys{
	   color:color:rgba(0,0,0,0.8 );
	   font-size:30px;
}
@media only screen and (min-width:768px){
   #privacysa{
	   color:color:rgba(0,0,0,0.8 );
	   font-size:30px;
       margin-top:4px;
   }
    }
@media only screen and (max-width: 767px) {
   #privacysa{
	   font-size:24px;
	   color:color:rgba(0,0,0,0.8 );
   }
}
#profilepoll{
	font-size: 20px;
}
#pollempty{
	text-align: center;
}