@media only screen and (min-width:768px){
	#post{
		color:black;
		font-size:25px;
		padding:12px;
		background-color:white;
		width:100%;
		margin-top:90px;
	}
@supports (-webkit-appearance:none) {	
    #post {
	    color:black;
	 	font-size:25px;
		padding:12px;
		background-color:white;
		width:100%;
		margin-top:90px;
	}
}	
@-moz-document url-prefix() {
    #post {
        color:black;
		font-size:25px;
		padding:12px;
		background-color:white;
		width:100%;
		margin-top:65px;
    }
}
}
@media only screen and (max-width: 767px) {
	#post{
		color:black;
		font-size:25px;
		padding:12px;
		background-color:white;
		width:100%;
		margin-top:-14px;
}
@supports (-webkit-appearance:none) {
    #post{
	    color:black;
		font-size:25px;
		padding:12px;
		background-color:white;
		width:100%;
		margin-top:80px;
	}
}	
@-moz-document url-prefix() {
    #post{
        color:black;
		font-size:25px;
		padding:12px;
		background-color:white;
		width:100%;
		margin-top:-70px;
    }
}
}   
.caret {
  display: inline-block;
  width: 0px;
  height: 0px;
  margin-left: 2px;
  vertical-align: middle;
  border-top-width: 4px;
  border-top-style: solid;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: transparent;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: transparent;
}
.dropdown-toggle:focus {
  outline: 0px;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0px;
  margin: 2px 0px 0px;
  list-style: none;
  font-size: 14px;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.14902);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.172549) 0px 6px 12px;
  -webkit-background-clip: padding-box;
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0px;
  overflow: hidden;
  background-color: rgb(229, 229, 229);
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857;
  color: rgb(51, 51, 51);
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: rgb(38, 38, 38);
  background-color: rgb(245, 245, 245);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  outline: 0px;
  background-color: rgb(26, 130, 195);
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: rgb(119, 119, 119);
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-image: none;
  background-color: transparent;
}
.open > .dropdown-menu {
  display: block;
}
.pull-right > .dropdown-menu {
  right: 0px;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top-width: 0px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
.dropdown-menu > li > a {
  color: rgb(90, 115, 142);
}
.dropdown-container {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  top: 0;
  right: 0;
}