/* sponsors */
a{
	text-decoration:none;
	color:black;
}
a:hover{
	text-decoration:none;
	color:black
}
#link{
	font-size:11px;
}
#ads{
	width:200px;
	max-width:200px;
	height:150px;
	max-height:150px;	
}
#border{
	border-bottom:2px solid black;
}