
/* For the userName */

.userName {
  position: absolute;
  font-size: 3em;
  margin-left: 8em;
  color: tomato;
  -webkit-animation: moveUserName 4s both ease-out;
  -moz-animation: moveUserName 4s both ease-out;
  -o-animation: moveUserName 4s both ease-out;
  animation: moveUserName 4s both ease-out;
}

/* For the logo */

.logo {
  width: 30%;
  -webkit-animation: imageOpacity 4s both ease-out;
  -moz-animation: imageOpacity 4s both ease-out;
  -0-animation: imageOpacity 4s both ease-out;
  animation: imageOpacity 4s both ease-out;
}

/* Fot thanks for visiting */

.thanks {
  color: grey;
  font-size: 3em;
}

/* Keyframes for the userName movement */

@keyframes moveUserName {
  0%   { opacity: 0;                      }
  20%  { opacity: 0.2;                    }
  40%  { opacity: 0.3;                    }
  60%  { opacity: 0.7;                    }
  80%  { opacity: 0.9;                    }
  100% { opacity: 1;   margin-top: 8.7em; }
}

/* Keyframes for the image opacity */

@keyframes imageOpacity {
  10%  { opacity: 0;                      }
  20%  { opacity: 0.2;                    }
  30%  { opacity: 0.4;                    }
  40%  { opacity: 0.2;                    }
  50%  { opacity: 0;                      }
  60%  { opacity: 0.2;                    }
  70%  { opacity: 0.4;                    }
  80%  { opacity: 0.7;                    }
  90%  { opacity: 0.9;                    }
  100% { opacity: 1;                      }
}
