	    body {
			  margin: 0;
			  background-color:gray;
			  padding: 0;
    	}
    @media only screen and (min-width:768px){
	    #showpost{
			width:80%;
			max-width:80%;
			margin-left:10%;
			padding:12px;
			border:5px solid #e0e0e0;
			background-color:white;
			border-bottom:2px solid #e0e0e0;
			margin-top: 15px;
	    }
      }
    @media only screen and (max-width:767px){
        #showpost{
			width:80%;
			max-width:80%;
			margin-left:10%;
			padding:12px;
			border:5px solid #e0e0e0;
			background-color:white;
			border-bottom:2px solid #e0e0e0;
			margin-top: 15px;
         }
    }
	#postfooter{
			width:80%;
			max-width:80%;
			margin-left:10%; 
			border-radius:0;
	}
	#post_footer_icon{
			padding:12px;
			color:black;
	
	}